
@import 'custom/custom.scss';
@import 'custom/mixin.scss';


// 超链接
.link-gray {
    @include link(#333);
}

// 图标
.icons {
    @include size(55px);
    overflow: none;
    display: inline-block;
    background-image: url(../../images/icons.png);
}
.icon-home {
    @extend .icons;
    display: block;
    @include size(40px);
    background-position: 50px 295px;
    margin-left: 45px;
}
.icon-search {
    @extend .icons;
    background-position: 0 10px;
}
.icon-box {
    @extend .icons;
    background-position: 0 -50px;
}
.icon-money {
    @extend .icons;
    background-position: 0 -120px;
}
.icon-website {
    @extend .icons;
    background-position: 0 -185px;
}
.icon-book {
    @extend .icons;
    background-position: -65px 10px;
}
.icon-time {
    @extend .icons;
    background-position: -65px -50px;
}
.icon-print {
    @extend .icons;
    background-position: -65px -120px;
}
.icon-manual {
    @extend .icons;
    background-position: -65px -185px;
}

// 标题
.title {
    color: #333;
    font-weight: 700;
    line-height: 40px;
}


// 顶部导航
.top-nav {
    font-size: 12px;
    color: #fff;
    border-top: 3px solid $main-blue;
    ul {
        background: $main-blue;
        padding: 5px 20px;
    }
    li {
        @include inline-block;
        margin-right: 10px;
        &:nth-child(2) {
            margin-right: 35px;
        }
    }
    @include link-a(#fff);  
}

// 头部
.header {

}
.header-hotline {
    border-right: 1px solid #bfbfbf;
    text-align: center;
}

// 导航
.nav {
    background: $main-red;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    @include link-a(#fff);
}
.nav-child {
    font-size: 14px;
    background: $main-red;
    @include link-a(#fff);
}

// 底部导航
.footer-nav {
    font-size: 12px;
    padding: 20px;
    background: linear-gradient(to bottom, #f0f0f0, #fbfbfb);
    dt,dd {
        line-height: 27px;
    }
}

// 版权
.copyright {
    @include skin-bgfg($main-blue, #fff);
    text-align: center;
    line-height: 40px;
}

// 颜色
@include color('gray', '#bfbfbf');
@include color('dark-blue', '#30318b');
@include color('red', '#e60012');
@include color('white');
@include color('black');